# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
build/
dist/
*.egg-info/

# --- Django ---
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/

# --- Sécurité & Environnement (CRITIQUE) ---
.env
.env.local
.env.*
secrets.json
*.key
.python_history
.gunicorn
.bash_history
# --- Tests & Qualité ---
.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.mypy_cache/
.tox/

# --- Logs ---
*.log
logs/
.local
.cache
# --- Docker ---
.docker-ignore
postgres_data/

# --- IDE & Éditeurs ---
# PyCharm
.idea/
*.iml

# VS Code
.vscode/
*.code-workspace

# Sublime Text
*.sublime-project
*.sublime-workspace

# Système
.DS_Store
Thumbs.db